<h1>Ingredients list</h1>

<ul>
  <% @ingredients.each do |ingredient| %>
    <li>
      <h3>
        <%=ingredient.name %>
      </h3>
    </li>
  <% end %>
</ul>


<%= link_to "Add an ingredient", new_ingredient_path, class: "btn btn-primary" %>
